/* CSS for mobile */
body {
	margin: 0 !important;
	padding: 0 !important; 
}
/* FIXED CONTAINER */
#fixed {
	position: fixed;
	background-color: white;
	top: 0vh;
	left: 0;
	width: 100%;
	height: 50%;
	padding: 0 !important;
	margin: 0 !important;
}
#movie {
	padding-top: 50vh;
	padding-bottom: 100vh;
}
#movie > div {
	padding: 5px;
	margin: 5px;
}
#movie > div.highlight {
	color: red;
}
.axis path {
	display: none;
}
.axis line {
	stroke: #777;
	stroke-dasharray: 1,1;
}
.grid circle {
	filter:url(#blur);
}
rect.background {
	display: none !important;
}
rect.column,rect.square {
	display: none !important;
}
circle {
}
circle.regular { 
	fill: rgba(255,255,102,0.5);
	stroke: black;
}
circle.buena {
	fill: rgba(51,204,51, 0.5);
	stroke: black;
}
circle.mala {
	fill: rgba(255,0,0,0.5);
	stroke: black;
}
path.line {
	display: none;
}
text.note {
	font-size: 8px;
}
text.value {
}
#legend {
	position: absolute;
	top: 55%;
	left: 0;
	width: 100%;
	height: 30px;
	padding: 1%;
	border: 1px solid black;
	background-color: rgba(255,255,255,0.8);
}
.legend > div {
	float: left;
	margin-right: 10%;
}
.line {
	display: inline-block;
	top: 10px;
	width: 35px;
	height: 2px;
	background-color: red;
}
.label { 
	display: inline-block;
}
.legend .line.mex {
	background-color: #3366ff;
	opacity: 0.7;
}
.legend .line.cdmx {
	background-color: #ff0066;
	opacity: 0.7;
}
#cdmx {
	height: 60%;
}
.simat path, .grid path {
	display: none;
}
.simat circle {
	fill: red;
}
.grid circle {
	fill: rgba(25,25,25,0.15);
}
.cdmx path {
	fill: none;
	stroke: rgba(233,233,233,0.4);
	stroke-width: 0.5px;
	stroke-opacity: 0.2;
	fill: rgba(233,233,233,0.1);
}
.cdmx path.zmvm { 
	stroke-width: 1.3px;
	fill: rgba(233,233,233,0.3);
	stroke-opacity: 0.5;
}
.cdmx path.zmvm:hover {
	stroke-opacity: 1;
}
.cdmx path.mex { 
	stroke: #3366ff;
}
.cdmx path.mor { 
	stroke: #009900;
}
.cdmx path.cdmx { 
	stroke: #ff0066;
}
@media all and (orientation:landscape) {
	#fixed { 
		top: 0;
		left: 50%;
		width: 50%;
		height: 100%;
	}	
}
